.business-card {
  padding-top: 3rem;
  padding-inline: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
}
.business-card img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
.split {
  width: 100%;
}
.text-end {
  text-align: end;
}
#business-category {
  text-transform: uppercase;
  color: rgb(128, 0, 255);
  font-weight: 600;
}
#business-stars {
  color: coral;
  font-weight: 600;
}
